= render 'shared/header'


%main.main-container
  = render 'users/shared/main-side'

  .main-content
    %main.credit-main
      %label 登録クレジットカード情報
      %p.space
      %br
      = "**** **** **** " + @default_card_information.last4
      %br
      -# ヘルパー
      = card_info
      = form_tag(delete_user_credit_cards_path(current_user.id), method: :post, id: 'charge-form',  name: "inputForm") do
        %input{ type: "hidden", name: "card_id", value: "" }
        %button 削除する



= render 'shared/bottom-banner'
= render 'shared/footer-black'
= render 'shared/sell-btn'