= render 'shared/header'

%main.main-container
  = render 'users/shared/main-side'
  .main-content
    %main.credit-main
      = render 'shared/credit2'

= render 'shared/bottom-banner'
= render 'shared/footer-black'
= render 'shared/sell-btn'