= render 'shared/header'

= render 'shared/breadcrumb'


%main.main-container
  = render partial:'users/shared/main-side', locals: { user:@user }

  .main-content
    .mypage-user-info
      = link_to "#", class: "mypage-user-info__link" do
        = fa_icon 'user-circle', class: 'mypage-user-info__icon'
        %h2.mypage-user-info__user-name
        .mypage-user-info__numbers
          .mypage-user-info__rating
            評価　123
          .mypage-user-info__items
            出品数　321


    = render 'users/shared/mypage-tabs'

    = render 'users/shared/mypage-tabs-dealed-items'

= render 'shared/bottom-banner'
= render 'shared/footer-black'
= render 'shared/sell-btn'
