%header
  =render "shared/header"

.container
  .main
    .main__left
      = render 'shared/main-side'

    .main__right
      = render "shared/payment-registration"
        

.bottom__banner
  = render partial: 'shared/bottom-banner'

/ フッターリンク （リンク貼ってません！）
%footer
  = render partial: 'shared/footer-black'

= render "shared/sell-btn" 
