.item-form
  .item-form-header
    = link_to root_path do
      = image_tag "logo.svg", alt: "ロゴ", class:"item-form-header-icon"

  .item-registration
    %h2.item-registration__head 商品の情報を入力
    = form_with model: @item, class:'item-registration__form', local: true, html: { multipart: true } do |f|
      -# 画像
      .item-registration__form__group
        %span.item-registration__form__group__box__label.large-label 出品画像
        %span.item-registration__form__group__box__necessary 必須
        %p.item-registration__form__group__notice 最大10枚までアップロードできます
        = f.fields_for :images, class: 'dropzone', id: 'upload-dropzone' do |fin|
          =fin.label :image, multiple: true do
            .item-registration__form__group__image
              .nest-form
                .nest-form__head
                  = fin.file_field :image, multiple: true, name: 'images[image][]', style:"display:none;"
                  %p ドラッグアンドドロップ
                  %p またはクリックしてファイルをアップロード
      -# 商品名・説明
      .item-registration__form__group
        -# 商品名
        %span.item-registration__form__group__box__label 商品名
        %span.item-registration__form__group__box__necessary 必須
        - if @item.errors.messages[:name].present?
          - @item.errors.messages[:name].each do |message|
            %p.error= message
        .item-registration__form__group__box__select
          = f.text_field :name, placeholder: "商品名（必須40文字まで）", value: ""
        -# 商品の説明
        %span.item-registration__form__group__box__label 商品の説明
        %span.item-registration__form__group__box__necessary 必須
        - if @item.errors.messages[:details].present?
          - @item.errors.messages[:details].each do |message|
            %p.error= message
        .item-registration__form__group__box__select
          = f.text_area :details, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

      -# 商品の詳細
      .item-registration__form__detail
        %h3.item-registration__form__detail__head 商品の詳細
        .item-registration__form__detail__box
          -# カテゴリー
          .item-registration__form__detail__box__category
            %span.item-registration__form__detail__box__category__label カテゴリー
            %span.item-registration__form__detail__box__category__necessary 必須
          .select-box.select-box-top
            = f.collection_select :category_parent_id, @category_parent,:id, :name, {prompt: '---'}, {class: 'select-box__body'}
          .select-box.select-box-top
            = f.collection_select :category_child_id, @category_children,:id, :name, {prompt: '---'}, {class: 'select-box__body'}
          .select-box.select-box-top
            = f.collection_select :category_id, @category_gchildren,:id, :name, {prompt: '---'}, {class: 'select-box__body'}
          -# サイズ(仮)
          .item-registration__form__detail__box__category
            %span.item-registration__form__detail__box__category__label サイズ
            %span.item-registration__form__detail__box__category__necessary 必須
          .select-box.select-box-top
            = f.collection_select :size_id, Size.all, :id, :name, {}, {class: 'select-box__body'}
          -# ブランド(仮)
          .item-registration__form__detail__box__category
            %span.item-registration__form__detail__box__category__label ブランド
            %span.item-registration__form__detail__box__category__necessary{style:"background:#ccc;"} 任意
          .select-box.select-box-top
            = f.collection_select :brand_id, @brands,:id, :name, {prompt: '---'}, {class: 'select-box__body'}




          -# 商品の状態
          .item-registration__form__detail__box__category
            %span.item-registration__form__group__box__label 商品の状態
            %span.item-registration__form__group__box__necessary 必須
          .select-box
            -# collection_selectにする
            = f.select :condition, Item.conditions.keys, {}, {class: 'select-box__body'}
            -# = f.text_field :category_id, value:'---', class: 'select-box__body'

      -# 配送について
      .item-delivery
        %h3.item-delivery__head 配送について
        = link_to '?', '#', class: 'item-registration__form__group__help'
        .item-delivery__box
          -# 配送料の負担
          %span.item-delivery__box__label 配送料の負担
          %span.item-delivery__box__necessary 必須
          .select-box.select-box-top
            -# collection_selectにする
            =f.select :delivery_fee, Item.delivery_fees.keys, {}, {class: 'select-box__body'}
            -# = f.text_field :category_id, value:'---', class: 'select-box__body'
          -# 配送方法
          %span.item-delivery__box__label 配送方法
          %span.item-delivery__box__necessary 必須
          .select-box.select-box-top
            -# collection_selectにする
            =f.select :delivery_method, Item.delivery_methods.keys, {}, {class: 'select-box__body'}


          -# 発送元の地域
          %span.item-delivery__box__label 配送元の地域
          %span.item-delivery__box__necessary 必須
          .select-box.select-box-top
            -# collection_selectにする
            = f.collection_select :delivery_location, Prefecture.all, :id, :name, {}, {class: 'select-box__body'}
            -# = f.text_field :category_id, value:'---', class: 'select-box__body'

          -# 発送までの日数
          %span.item-delivery__box__label 配送までの日数
          %span.item-delivery__box__necessary 必須
          .select-box
            -# collection_selectにする
            =f.select :delivery_term, Item.delivery_terms.keys, {}, {class: 'select-box__body'}

      -# 販売価格
      .item-price
        %h3.item-price__head 販売価格(300〜9,999,999)
        = link_to '?', '#', class: 'item-registration__form__group__help'
        .item-price__box
          .item-price__box__list
            .item-price__box__list--left
              %span.item-price__box__label 価格
              %span.item-price__box__necessary 必須
            .price-box
              %span ¥
              = f.text_field :price, placeholder: "例）300", value: '', class:"price-box__body"
          .item-price__box__list
            .item-price__box__list--left
              %p 販売手数料(10%)
            .item-price__box__list--right
              %p -
          .item-price__box__list
            .item-price__box__list--left
              %h3 販売利益
            .item-price__box__list--right
              %h3 -

      -# 確認事項と出品ボタン
      .item-registration__form__group
        %div
          = link_to '禁止されている出品', '#'
          %p 
          = link_to '行為', '#'
          %p を必ずご確認ください。
        %div
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to '偽ブランドの販売', '#'
          %p は犯罪であり処罰される可能性があります。
        %div
          %p また、出品をもちまして
          = link_to '加盟店規約', '#'
          %p に同意したことになります。
        .item-registration__form__group__actions
          = f.submit "出品する"
        .item-registration__form__group__return
          = link_to 'もどる', root_path, class: 'root-return-btn'