.items-container
  %h3.items-head
    =link_to 'レディース新着アイテム',root_path, class:"items-top"
  .items-box
    .item-box
      = link_to root_path do
        .item-box-photo
          = image_tag asset_path('fightclub.jpg'), class:"item-box-photo-pic"
        .item-box-body
          %h3.item-box-body-name 【新品未開封】ファイトクラブ
          .item-box-body-num
            .item-box-body-num-price ¥3,980
            .item-box-body-num-like
              %i.item-box-body-num-like-icon ♡
              %span 18

    .item-box
      = link_to root_path do
        .item-box-photo
          = image_tag asset_path('fightclub.jpg'), class:"item-box-photo-pic"
        .item-box-body
          %h3.item-box-body-name 【新品未開封】ファイトクラブ
          .item-box-body-num
            .item-box-body-num-price ¥3,980
            .item-box-body-num-like
              %i.item-box-body-num-like-icon ♡
              %span 18

    .item-box
      = link_to root_path do
        .item-box-photo
          = image_tag asset_path('fightclub.jpg'), class:"item-box-photo-pic"
        .item-box-body
          %h3.item-box-body-name 【新品未開封】ファイトクラブ
          .item-box-body-num
            .item-box-body-num-price ¥3,980
            .item-box-body-num-like
              %i.item-box-body-num-like-icon ♡
              %span 18

    .item-box
      = link_to root_path do
        .item-box-photo
          = image_tag asset_path('fightclub.jpg'), class:"item-box-photo-pic"
        .item-box-body
          %h3.item-box-body-name 【新品未開封】ファイトクラブ
          .item-box-body-num
            .item-box-body-num-price ¥3,980
            .item-box-body-num-like
              %i.item-box-body-num-like-icon ♡
              %span 18

  .more-items
    =link_to 'すべての商品を見る',root_path, class:"more-items-text"