= render partial: 'shared/header'
.item-toppage
  .swiper-container.slider
    .swiper-slide
      .slide--left-text
        %h2 スマホでかんたんフリマアプリでい
        %p メルカリはスマホカメラからすぐに出品できる
        %p 購入時も安心な独自システムのアプリです
        .slide--left-text--icon
          = link_to '#' do
            = image_tag asset_path('apple_store.png'),class:"apple"
          = link_to '#' do
            = image_tag asset_path('google_play.jpg'),class:"google"
      .slide--left-image
        = image_tag asset_path('main_content_pc.png'),class:"slide--left-image"

    .swiper-slide

  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
  .swiper-scrollbar

  .pickup
    %h2.pickup-top ピックアップカテゴリー

    = render partial: 'items/top-items', locals:{items:@women_items, word: 'レディース' }
    = render partial: 'items/top-items', locals:{items:@mens_items, word: 'メンズ' }
    = render partial: 'items/top-items', locals:{items:@baby_items, word: 'ベビー・キッズ' }
    = render partial: 'items/top-items', locals:{items:@interior_items, word: 'インテリア・住まい・小物' }

  .pickup
    %h2.pickup-top ピックアップブランド

    = render partial: 'items/top-items', locals:{items:@chanel_items, word: 'シャネル' }
    = render partial: 'items/top-items', locals:{items:@nike_items, word: 'ナイキ' }
    = render partial: 'items/top-items', locals:{items:@vuitton_items, word: 'ルイヴィトン' }
    = render partial: 'items/top-items', locals:{items:@supureme_items, word: 'シュプリーム' }

    = render partial: 'shared/sell-btn'
    = render partial: 'shared/bottom-banner'
    = render partial: 'shared/footer-black'