  %header
    =render "shared/header"
    
  .wrapper
    .container
      .item
        .item__detail
          .item__name
            %p#item__name バック
          .item__info
            .item__left
              .item__left__main
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__mainpic"

                

              / ミニ１段目
              .item__left__sub1
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"

              / ミニ２段目
              .item__left__sub2
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"
                =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg", class: "item__left__subpic"

            .item__right
              %table
                %tr
                  %th 出品者
                  %td
                    =link_to "ユーザー","#"
                    %p
                    .ratings
                      .rating__good
                      .rating__okay
                      .rating__soso
                %tr
                  %th カテゴリー
                  %td
                    %div
                      =link_to "category"
                    %div
                      =link_to "category"
                    %div
                      =link_to "category"
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                %tr
                  %th 配送料の負担
                  %td
                %tr
                  %th 配送の方法
                  %td
                %tr
                  %th 配送元地域
                  %td
                %tr
                  %th 発送日の目安
                  %td
          / 金額から商品詳細まで
          .price
            %span.price__one
              金額
            %span.price__two
              （税込）
            %span.price__three
              送料込み
          .check
            =link_to "購入画面に進む", "#", class: "checkout"
          .description
            %p こちらの商品は、、、、
          .bottom
            =link_to "♡いいね！＃", "#", class: "bottom__content1"
            =link_to "不適切な商品の報告", "#", class: "bottom__content1"
            =link_to "あんしん：あんぜんへの取り組み", "#", class: "bottom__content2"

      / コメント
      .comment
        .caution
          %p#caution
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .field
          %textarea
        .action
          %button コメントする

        =form for
          =f.text_field :comment, class:"field"
          =f.submit,  class: "action"


      / 前後ページリンク
      .page
        = link_to '＜ back', '#', class:"page__btn1"
        = link_to 'forward ＞', '#', class:"page__btn2"

      / SNS
      .sns

        =link_to "#" do
          =image_tag "https://image.flaticon.com/icons/svg/124/124010.svg"
        =link_to "#" do
          =image_tag "https://image.flaticon.com/icons/svg/124/124021.svg"
        =link_to "#" do
          =image_tag "https://image.flaticon.com/icons/svg/124/124027.svg"
        =link_to "#" do
          =image_tag "https://image.flaticon.com/icons/svg/124/124039.svg"


      / 商品一覧
      .posts
        = link_to '？？さんの投稿', '#', class:"posts__title"

      / ユーザーその他の商品表示 １段落目
      .posts__items
        .posts__item1
          = render partial: 'partial/show-items'
        .posts__item1
          = render partial: 'partial/show-items'
        .posts__item1
          = render partial: 'partial/show-items'

      / ユーザーその他の商品表示 ２段落目
      .posts__items
        .posts__item2
          = render partial: 'partial/show-items'
        .posts__item2
          = render partial: 'partial/show-items'
        .posts__item2
          = render partial: 'partial/show-items'


      .posts
        = link_to 'その他の商品', '#', class:"posts__title"
        
      / その他オススメ商品表示 １段落目
      .posts__items
        .posts__item1
          = render partial: 'partial/show-items'
        .posts__item1
          = render partial: 'partial/show-items'
        .posts__item1
          = render partial: 'partial/show-items'
          
      / その他オススメ商品表示 ２段落目
      .posts__items
        .posts__item2
          = render partial: 'partial/show-items'
        .posts__item2
          = render partial: 'partial/show-items'
        .posts__item2
          = render partial: 'partial/show-items'

          
    / 下部ホームリンク
    .bottom_pagination
      .btn
        = link_to "メルカリ ＞", "#", class:"home"
    .bottom__banner
      = render partial: 'partial/bottom-banner'

    / フッターリンク （リンク貼ってません！）
    %footer
      = render partial: 'partial/footer-black'


