.user_registration
  .single-container
    %header.single-header
      %h1
        = link_to '#' do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?273499512",alt:"mercari"
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.active
            会員情報
            .progress-status
            .progress-status2
          %li
            電話番号認証
            .progress-status
            .progress-status2
          %li
            お届け先住所入力
            .progress-status
            .progress-status2
          %li
            支払い方法
            .progress-status
            .progress-status2
          %li
            完了
            .progress-status
            .progress-status2
    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration 会員情報入力
        %form.l-single-inner.registration-form
          .l-single-content
            .form-group
              %label{for:"nickname"} ニックネーム
              %span.form-require 必須
              %input.input-default{ placeholder: "例) メルカリ太郎"}/
            .form-group
              %label{:for => "email"} メールアドレス
              %span.form-require 必須
              %input.input-default{placeholder: "PC・携帯どちらでも可"}/
            %input{name: "login_type", type: "hidden", value: ""}/
            .form-group
              %label{for: "password"} パスワード
              %span.form-require 必須
              %input.input-default{placeholder: "7文字以上"}/
            .form-group
              %label{for: "password"} パスワード (確認)
              %span.form-require 必須
              %input.input-default{placeholder: "7文字以上"}/
            .form-group
              %h3.text-left.l-chapter-sub-head 本人確認
              %p.l-single-text
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .form-group
              %div
                %label お名前(全角)
                %span.form-require 必須
              %input.input-default.half{placeholder: "例) 山田"}/
              %input.input-default.half{placeholder: "例) 彩"}/
            .form-group
              %div
                %label{for: "family_name_kanji"} お名前カナ(全角)
                %span.form-require 必須
              %input.input-default.half{placeholder: "例) ヤマダ"}/
              %input.input-default.half{placeholder: "例) アヤ"}/
            .form-group
              %label{for: "birthday"} 生年月日
              %span.form-require 必須
              %br/
              .birthday-select-wrap
                .select-wrap
                  %i.icon-arrow-bottom
                  %select.select-default{:name => "year"}
                    %option{value: ""} --
                    %option{value: "2019"} 2019
                    %option{value: "2018"} 2018
                    %option{value: "2017"} 2017
                    %option{value: "2016"} 2016
                    %option{value: "2015"} 2015
                    %option{value: "2014"} 2014
                    %option{value: "2013"} 2013
                    %option{value: "2012"} 2012
                    %option{value: "2012"} 2011
                    %option{value: "2012"} 2010
                    %option{value: "2019"} 2009
                    %option{value: "2018"} 2008
                    %option{value: "2017"} 2007
                    %option{value: "2016"} 2006
                    %option{value: "2015"} 2005
                    %option{value: "2014"} 2004
                    %option{value: "2013"} 2003
                    %option{value: "2012"} 2002
                    %option{value: "2012"} 2001
                    %option{value: "2012"} 2000
                    %option{value: "1999"} 1999
                    %option{value: "1999"} 1998
                    %option{value: "1999"} 1997
                    %option{value: "1999"} 1996
                    %option{value: "1999"} 1995
                    %option{value: "1999"} 1994
                    %option{value: "1999"} 1993
                    %option{value: "1999"} 1992
                    %option{value: "1999"} 1991
                    %option{value: "1999"} 1990
                    %option{value: "1989"} 1989
                    %option{value: "1989"} 1988
                    %option{value: "1989"} 1987
                    %option{value: "1989"} 1986
                    %option{value: "1989"} 1985
                    %option{value: "1989"} 1984
                    %option{value: "1989"} 1983
                    %option{value: "1989"} 1982
                    %option{value: "1989"} 1981
                    %option{value: "1989"} 1980
                    %option{value: "1999"} 1979
                    %option{value: "1999"} 1978
                    %option{value: "1999"} 1977
                    %option{value: "1999"} 1976
                    %option{value: "1999"} 1975
                    %option{value: "1999"} 1974
                    %option{value: "1999"} 1973
                    %option{value: "1999"} 1972
                    %option{value: "1999"} 1971
                    %option{value: "1999"} 1970
                    %option{value: "1989"} 1969
                    %option{value: "1989"} 1968
                    %option{value: "1989"} 1967
                    %option{value: "1989"} 1966
                    %option{value: "1989"} 1965
                    %option{value: "1989"} 1964
                    %option{value: "1989"} 1963
                    %option{value: "1989"} 1962
                    %option{value: "1989"} 1961
                    %option{value: "1989"} 1960
                    %option{value: "1999"} 1959
                    %option{value: "1999"} 1958
                    %option{value: "1999"} 1957
                    %option{value: "1999"} 1956
                    %option{value: "1999"} 1955
                    %option{value: "1999"} 1954
                    %option{value: "1999"} 1953
                    %option{value: "1999"} 1952
                    %option{value: "1999"} 1951
                    %option{value: "1999"} 1950
                    %option{value: "1989"} 1949
                    %option{value: "1989"} 1948
                    %option{value: "1989"} 1947
                    %option{value: "1989"} 1946
                    %option{value: "1989"} 1945
                    %option{value: "1989"} 1944
                    %option{value: "1989"} 1943
                    %option{value: "1989"} 1942
                    %option{value: "1989"} 1941
                    %option{value: "1989"} 1940
                    %option{value: "1999"} 1939
                    %option{value: "1999"} 1938
                    %option{value: "1999"} 1937
                    %option{value: "1999"} 1936
                    %option{value: "1999"} 1935
                    %option{value: "1999"} 1934
                    %option{value: "1999"} 1933
                    %option{value: "1999"} 1932
                    %option{value: "1999"} 1931
                    %option{value: "1999"} 1930
                    %option{value: "1989"} 1929
                    %option{value: "1989"} 1928
                    %option{value: "1989"} 1927
                    %option{value: "1989"} 1926
                    %option{value: "1989"} 1925
                    %option{value: "1989"} 1924
                    %option{value: "1989"} 1923
                    %option{value: "1989"} 1922
                    %option{value: "1989"} 1921
                    %option{value: "1989"} 1920
                    %option{value: "1999"} 1939
                    %option{value: "1999"} 1938
                    %option{value: "1999"} 1937
                    %option{value: "1999"} 1936
                    %option{value: "1999"} 1935
                    %option{value: "1999"} 1934
                    %option{value: "1999"} 1933
                    %option{value: "1999"} 1932
                    %option{value: "1999"} 1931
                    %option{value: "1999"} 1930
                    %option{value: "1989"} 1929
                    %option{value: "1989"} 1928
                    %option{value: "1989"} 1927
                    %option{value: "1989"} 1926
                    %option{value: "1989"} 1925
                    %option{value: "1989"} 1924
                    %option{value: "1989"} 1923
                    %option{value: "1989"} 1922
                    %option{value: "1989"} 1921
                    %option{value: "1989"} 1920
                    %option{value: "1999"} 1919
                    %option{value: "1999"} 1918
                    %option{value: "1999"} 1917
                    %option{value: "1999"} 1916
                    %option{value: "1999"} 1915
                    %option{value: "1999"} 1914
                    %option{value: "1999"} 1913
                    %option{value: "1999"} 1912
                    %option{value: "1999"} 1911
                    %option{value: "1999"} 1910
                    %option{value: "1989"} 1909
                    %option{value: "1989"} 1908
                    %option{value: "1989"} 1907
                    %option{value: "1989"} 1906
                    %option{value: "1989"} 1905
                    %option{value: "1989"} 1904
                    %option{value: "1989"} 1903
                    %option{value: "1989"} 1902
                    %option{value: "1989"} 1901
                    %option{value: "1989"} 1900
                %span 年
                .select-wrap
                  %i.icon-arrow-bottom
                  %select.select-default{name: "month"}
                    %option{value: ""} --
                    %option{value: "1"} 1
                    %option{value: "2"} 2
                    %option{value: "3"} 3
                    %option{value: "4"} 4
                    %option{value: "5"} 5
                    %option{value: "6"} 6
                    %option{value: "7"} 7
                    %option{value: "8"} 8
                    %option{value: "9"} 9
                    %option{value: "10"} 10
                    %option{value: "11"} 11
                    %option{value: "12"} 12
                %span 月
                .select-wrap.select-wrap
                  %i.icon-arrow-bottom
                  %select.select-default{name: "day"}
                    %option{value: ""} --
                %span 日
              %input{name: "birthday", type: "hidden", value: ""}/
              .clearfix
            %p.form-info-text
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .l-single-content
            %input{ name: "after_save_callback", type:"hidden", value: ""}/
            .form-group
              .g-recaptcha.signup-recaptcha
                %div{style: "width: 304px; height: 78px;"}
                  %div
                    %iframe{frameborder:"0", height: "78", name: "a-nge5gr89f97c", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1565591531251&size=normal&cb=q8iuyxsj4zms", :width => "304"}
                  %textarea{name: "g-recaptcha-response", style: "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
            .form-group
              %p.l-single-text.text-center
                「次へ進む」のボタンを押すことにより、
                = link_to' 利用規約','#'
                に同意したものとみなします
            %button.btn-default.btn-red
              = link_to '次へ進む', '/signup/sms_confirmation'
            .form-group.text-right
              %p
                = link_to '#' do
                  本人情報の登録について
                  %i.icon-arrow-right
    .footer.single-footer
      = render 'shared/loginfooter'