.user_registration
  .single-container
    %header.single-header
      %h1
        = link_to "https://www.mercari.com/jp/" do
          = image_tag "mercari_profile",alt:"mercari"
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.active
            会員情報
            .progress-status.active

          %li.active
            電話番号認証
            .progress-status.activve
          %li
            お届け先住所入力
            .progress-status
          %li
            支払い方法
            .progress-status

          %li
            完了
            .progress-status
    %main.sms_body
      %section.l-single-container
        %h2.l-chapter-head.registration 電話番号の確認
        = form_for @user, url: signup_address_path,  method: :get, :html => {:class => "forming"} do |f|
          .l-single-content
            .form-group
              %label{for: "phone_number"} 携帯電話の番号
              = f.text_field :phone_number, placeholder: "09012345678",class: "form-text"
            %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            = f.submit "SMSを送信する", class: "btn-default"
            %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .form-group.text-right
              = link_to '#' do
                電話番号の確認が必要な理由 
              %i.icon-arrow-right
              >
          %input{name: "__csrf_value", type: "hidden", value: "3da2a6ff03ec81c8a39fe8f5529d6fadf1bc37cb79421a62e453a1ac3fa389b2406738c8a42402eefc2fd6b0c1a63cf5ce711d5cfc95464347933ddbb04cc607d"}/
          %input{name: "id", type: "hidden", value: "297052499"}/

    .footer.single-footer
      = render 'shared/loginfooter'